
.section-heading{
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console","monospace";
    font-weight: 600;
    color: rgb(230, 241, 255);
    line-height: 0.5;
    font-size:2rem;
    margin-bottom: 1.5em;
    white-space: nowrap;
    display: flex;
    
}

.section-heading::before{
    counter-increment: section 1;
    content: "0" counter(section) ".";
    color: rgb(100, 255, 218);
    font-size:1.75rem;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console","monospace";
    position: relative;
    font-weight:normal;
    top:2px;
}

.section-heading::after{
    content:"";
    justify-content: center;
    top:0.25em;
    width:40%;
    margin-left:0.5em;
    background-color: rgb(45, 57, 82);
    height: 1px;
    position: relative;
   
    
    
}
.justify-para{
    text-align: justify;
}
 #technologies-list-grid{
    display: grid;
    grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
    margin-top: 1em;
    overflow: hidden;
    list-style: none;
    /* border:1px solid orange; */
    padding:0; /*Since ul has some left padding */


}
 #technologies-list-grid li{
    position: relative;
    margin-bottom: 0.5em;
    padding-left: 1.45em;
    left:0;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", monospace;
    font-size: 1.25rem;
    margin-right: 0.5em;
    color: rgb(136, 146, 176);

}


#technologies-list-grid li:before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: rgb(100, 255, 218);
    font-size: 1.25rem;
  }
